<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: beige;">
    <center>
        <h1 style="color: firebrick;">Tokyo_Drift</h1>
        <h1 style="color: tomato;">This is the third movie in the series</h1>
        <h1 style="color: tomato;">In this the whole story is different the only thing in common is cars & raccing there are many twists and more action is available</h1>
        <a href="{% url 'fast_furious:cars1' %}">Take to 1st movie</a><br>
        <a href="{% url 'toofast_toofurious:cars2' %}">Take to 2nd movie</a>
    </center>
</body>
</html>